html {

    --bg:#b9b9b92e;
    --bg-tableview:#fff;
    --color-headings:#000;
    --color-text:#001e22;
    --color-badge2shadow:#fff;
    --bg-floatingbtn:#fff;
    --bg-iconbginvert:#fff;
    --bg-navbar:#fff;
}